# M´aquina servidora
192.168.0.1 raid ./Config/raid.cfg
192.168.0.1 mount ./Config/mount_raid.conf
192.168.0.1 nfs_server nfs_server.conf
# M´aquinas cliente
192.168.0.2 nfs_client ./Config/nfs_client.conf
192.168.0.3 nfs_client ./Config/nfs_client.conf
192.168.0.4 nfs_client ./Config/nfs_client.conf
192.168.0.5 nfs_client ./Config/nfs_client.conf